<h1>Wikis</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, officiis!</p>
<ul>
  <% @wikis.each do |wiki| %>
    <li><%= link_to wiki.title, wiki %></li>
  <% end %>
</ul>

<%= link_to "Create wiki", new_wiki_path, class: 'btn btn-success' %>
