<h1>Wikis</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, officiis!</p>


<%= render partial: "wiki" %>

<%= link_to "Create wiki", new_wiki_path, class: 'btn btn-success btn-lg' %>
