<h1><%= @wiki.title %></h1>

<p>
  <%= @wiki.body %>
</p>

<%= link_to "Edit wiki", edit_wiki_path, class: 'btn btn-success' %>
<%= link_to "Delete wiki", wiki_path(@wiki.id), class: 'btn btn-danger', method: :delete %>
