<!DOCTYPE html>
<html>
<head>
  <title>Blocipedia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <ul class="nav nav-tabs">
  <li><a href="#">Link</a></li>
  <li><a href="#">Link</a></li>

  <div class="pull-right user-info">
      Hello User, <a href="#">Profile</a> | <a href="#">Sign out</a>
  </div>
</ul>
  <%= yield %>
  </div>
</body>
</html>
